.works-grid {
  --column-min-width: 260px;
  --max-columns: 3;
  --gap: calc(30 / 16 * 1rem);
  --adjustment: 1px; /* для Firefox */

  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns:
    repeat(
      auto-fit,
      minmax(
        /* min max way */
        /* min(
          max(
            (100% - var(--gap) * (var(--max-columns) - 1)) / var(--max-columns) - var(--adjustment),
            var(--column-min-width)
          ),
          100%
        ), */
        /* clamp way */
        clamp(
          (100% - var(--gap) * (var(--max-columns) - 1)) / var(--max-columns) - var(--adjustment),
          var(--column-min-width),
          100%
        ),
        1fr
      )
    );
}

  .works-grid__item {
    display: grid;
  }