.works-carousel {
  --active-index: 0;
  overflow: hidden;
}

  .works-carousel__list {
    --adjustment: var(--scrollbar-size, 17px);
    margin: 0;
    padding: 0;
    margin-bottom: calc(-1px * var(--adjustment));
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .works-carousel__item {
    flex: 1 0 100%;
    position: relative;
    overflow: hidden;
    scroll-snap-align: center;
  }

  .works-carousel__item::before,
  .works-carousel__item::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1rem;
    background-image: linear-gradient(
      var(--gradient-position),
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.013) 18.7%,
      hsla(0, 0%, 0%, 0.049) 34.9%,
      hsla(0, 0%, 0%, 0.104) 48.8%,
      hsla(0, 0%, 0%, 0.175) 60.6%,
      hsla(0, 0%, 0%, 0.259) 70.4%,
      hsla(0, 0%, 0%, 0.352) 78.4%,
      hsla(0, 0%, 0%, 0.45) 84.8%,
      hsla(0, 0%, 0%, 0.55) 89.8%,
      hsla(0, 0%, 0%, 0.648) 93.6%,
      hsla(0, 0%, 0%, 0.741) 96.3%,
      hsla(0, 0%, 0%, 0.825) 98.1%,
      hsla(0, 0%, 0%, 0.896) 99.2%,
      hsla(0, 0%, 0%, 0.951) 99.8%,
      hsla(0, 0%, 0%, 0.987) 100%,
      hsl(0, 0%, 0%) 100%
    );
    pointer-events: none;
  }

  .works-carousel__item::before {
    --gradient-position: -90deg;
    left: 0;
  }

  .works-carousel__item::after {
    --gradient-position: 90deg;
    right: 0;
  }

  .works-carousel__dots {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    margin: auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .works-carousel__dots-item {
    flex: 0 0 auto;
  }

  .works-carousel__dots-button {
    --value: calc(var(--active-index) - var(--index));
    --abs-value: max(var(--value), -1 * var(--value));
    --clamp-value: clamp(0, var(--abs-value), 1);
    --is-active: calc(1 - var(--clamp-value));
    opacity: calc(0.5 + 0.35 * var(--is-active));
    transform: scale(calc(1 + 0.5 * var(--is-active)));
    visibility: visible;
    margin: 0;
    appearance: none;
    display: block;
    box-sizing: content-box;
    padding: 0;
    border: 0;
    font-size: 0.35rem;
    width: 1em;
    height: 1em;
    border: 1em solid transparent;
    border-radius: 50%;
    background-clip: content-box;
    background-color: hsl(0deg 0% 100%);
    cursor: pointer;
    will-change: opacity, transform;
    transition: 0.2s;
    transition-property: opacity, transform;
  }

    .works-carousel__dots-button:hover {
      opacity: 1;
    }

  .works-carousel__button {
    position: absolute;
    inset-block: 0;
    margin: auto;
    appearance: none;
    box-sizing: content-box;
    padding: 0.5em;
    border: 0;
    font-size: 2rem;
    width: 1em;
    height: 1em;
    background: 0;
    border-radius: 50%;
    color: inherit;
    transition: 0.2s;
    cursor: pointer;
  }

    .works-carousel__button-icon {
      transform: translateX(calc(var(--sign) * 0.05em));
      display: block;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .works-carousel__button_type_prev {
      --sign: -1;
      left: 0.5rem;
    }

    .works-carousel__button_type_next {
      --sign: 1;
      right: 0.5rem;
    }

    .works-carousel__button:hover {
      background-color: hsl(0deg 0% 0% / 0.4);
    }

    .works-carousel_fallback .works-carousel__list {
      --adjustment: 0;
    }

    .works-carousel_fallback .works-carousel__dots,
    .works-carousel_fallback .works-carousel__button {
      visibility: hidden;
    }