.work-detail-card {
}

  .work-detail-card__media {
    position: relative;
    overflow: hidden;
    color: hsl(0deg 0% 100%);
    background-color: hsl(0deg 0% 0%);
  }

  .work-detail-card__content {}

  .work-detail-card__description {
    --line-height: 1.5;
    box-sizing: border-box;
    padding: var(--padding);
    font-size: calc(14 / 16 * 1em);
    line-height: var(--line-height);
    background-color: hsl(0deg 0% 100%);
  }

    .work-detail-card__description p {
      margin-top: 0;
      margin-bottom: 0;
    }

      .work-detail-card__description p + p {
        margin-top: calc(var(--line-height) * 1em);
      }

  .work-detail-card__link {
    position: sticky;
    bottom: calc(-1 * var(--padding));
    display: block;
    padding: 1rem var(--padding);
    margin-inline: calc(-1 * var(--padding));
    color: hsl(220deg 80% 56%);
    background-color: hsl(0deg 0% 100% / 0.92);
  }

    .work-detail-card__link::before {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      background-color: hsl(220deg 80% 56% / 0.1);
      transition: 0.2s;
    }

    .work-detail-card__link:hover {
      text-decoration: none;
    }

      .work-detail-card__link:not(:hover)::before {
        opacity: 0;
      }

  @media (min-width: 640px) {
    .work-detail-card__media {
      height: 60vh;
      max-height: 480px;
      display: grid;
      place-items: center;
    }

    .work-detail-card__content {
      margin: auto;
      aspect-ratio: 1 / 1;
      height: 100%;
      width: auto;
      max-width: 100%;
      max-height: 100%;
    }

      .work-detail-card__content[data-fit="height"] {
        width: auto;
        height: 100%;
      }

      .work-detail-card__content[data-fit="width"] {
        width: 100%;
        height: auto;
      }
  }

  @media not all and (min-width: 768px) {
    .work-detail-card {
      margin-inline: calc(-1 * var(--padding));
    }
  }

  @media (min-width: 768px) {
    .work-detail-card {
      display: flex;
      justify-content: center;
      height: 90vh;
    }

      .work-detail-card__media {
        flex: 1 1 65%;
        height: 100%;
        max-height: 100%;
        min-width: 0;
      }

      .work-detail-card__description {
        flex: 0 0 calc(380 / 16 * 1rem);
        flex: 1 1 35%;
        overflow: auto;
        height: 100%;
        min-height: 0;
        min-width: 0;
      }
  }